<%= form_with(model: hostname, local: true) do |form| %>
  <% if hostname.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hostname.errors.count, "error") %> prohibited this hostname from being saved:</h2>

      <ul>
        <% hostname.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hostname %>
    <%= form.text_field :hostname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
