<p id="notice"><%= notice %></p>

<h1>Hostnames</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostnames.each do |hostname| %>
      <tr>
        <td><%= hostname.hostname %></td>
        <td><%= link_to 'Show', hostname %></td>
        <td><%= link_to 'Edit', edit_hostname_path(hostname) %></td>
        <td><%= link_to 'Destroy', hostname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hostname', new_hostname_path %>
