<%= form_with(model: hostnames_ip, local: true) do |form| %>
  <% if hostnames_ip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hostnames_ip.errors.count, "error") %> prohibited this hostnames_ip from being saved:</h2>

      <ul>
        <% hostnames_ip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :hostname_id %>
    <%= form.text_field :hostname_id %>
  </div>

  <div class="field">
    <%= form.label :ip_id %>
    <%= form.text_field :ip_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
