<p id="notice"><%= notice %></p>

<h1>Hostnames Ips</h1>

<table>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hostnames_ips.each do |hostnames_ip| %>
      <tr>
        <td><%= hostnames_ip.hostname_id %></td>
        <td><%= hostnames_ip.ip_id %></td>
        <td><%= link_to 'Show', hostnames_ip %></td>
        <td><%= link_to 'Edit', edit_hostnames_ip_path(hostnames_ip) %></td>
        <td><%= link_to 'Destroy', hostnames_ip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hostnames Ip', new_hostnames_ip_path %>
