<p id="notice"><%= notice %></p>

<p>
  <strong>Hostname:</strong>
  <%= @hostnames_ip.hostname_id %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @hostnames_ip.ip_id %>
</p>

<%= link_to 'Edit', edit_hostnames_ip_path(@hostnames_ip) %> |
<%= link_to 'Back', hostnames_ips_path %>
